# # ignore everything
# *

# # allow directories
# !.gitignore
# !nvim/
# !fish/
# !nvim/**
# !fish/**
# !.tmux/**
# !.tmux
# !SetupSymLinks.fish
# !setup-tools.sh
# !herdr/
# !herdr/**

# fish/fish_variables
# !kilo/
# !kilo/kilo.jsonc
# !opencode/
# !opencode/**
# !alacritty/
# !alacritty/**