# ignore everything
*

# allow directories
!.gitignore
!nvim/
!fish/
!nvim/**
!fish/**
!.tmux/**
!.tmux
!SetupSymLinks.fish
!setup-tools.sh
!herdr/**

fish/fish_variables
kilo/kilo.jsonc
opencode/opencode.jsonc
alacritty/alacritty.toml